
{{#if user }}
<h2>You are signed in as: <strong>{{ user.username }} </strong></h2>
<p> email: {{ user.email }}</p>
{{ else }}
<h2>You are signed in as: <strong> Guest </strong></h2>
{{/if}}

<h4>Test View</h4>
<p>auth/test.handlebars view template</p>

<ul>
  <li>
    <p> View current session: <a href="/auth/session">link</a></p>
  </li>
  <li>
    <p> View all users: <a href="/auth/test">link</a></p>
  </li>
  <li>
    <p> Sign up: <a href="/auth/signup">link</a></p>
  </li>
    <li>
    <p> Sign in: <a href="/auth/login">link</a></p>
  </li>
  <li>
    <p> Log out: <a href="/auth/signout">link</a></p>
  </li>
</ul>