<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/newquiz.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/alex.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/christine.css" type="text/css" />
  {{!--<link rel="stylesheet" href="/assets/css/alisa.css" type="text/css" />--}}
  <title>Quizward App</title>
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
  aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo-title" href="javascript:navigateHome()">
          <span>Quizward</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quizzes <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/quizzes/new">Make A Quiz</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/quizzes/">See All Quizzes</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/categories/new">New Category</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/categories/">See All Categories</a></li>
            </ul>
          </li>
          <li><a href="/user">User Info</a></li>
          <li><a href="/auth">Settings</a></li>
          {{#if user }}
          <li><a href="/auth/signout"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
          {{else}}
          <li><a href="/auth/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a></li>
          <li><a href="/auth/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a></li>       
          {{/if}}
        </ul>
      </div>

    </div>
  </div>

  <div class="container main-body">
    {{{ body }}}
  </div>

  <div class="container footer text-center">
    <p><a href="https://github.com/thechutrain/quizward" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><br/>©2017 Team Quizward | <a href="/api">API documentation</a><br/> <a href="https://github.com/alisaschink" target="_blank">Alisa Schink</a> | <a href="https://github.com/ccho0415" target="_blank">Christine Chong</a> | <a href="https://github.com/thechutrain" target="_blank">Alan Chu</a> | <a href="https://github.com/alexrosenkranz" target="_blank">Alex Rosenkranz</a><br/></p>
    </div>
  <script>
    function navigateHome() {
      var url = window.location.origin + "/";
      window.location.replace(url);
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/10a804eff0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="/assets/js/form.js"></script>
	<script src="/assets/js/authForm.js"></script>
  <script src="/assets/js/user.js"></script>
  <script src="/assets/js/takeQuiz.js"></script>
  <script src="/assets/js/admin.js"></script>
  <script src="/assets/js/quizResults.js"></script>
</body>

</html>