<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
  <link rel="stylesheet" href="../assets/css/newquiz.css" type="text/css" />
  <title>Quizward App</title>
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand logo-title" href="#">
          <span>Quizward</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/quizzes/new">New Quiz</a></li>
        <li><a href="/categories/new">New Category</a></li>
        <li><a href="/auth">User Info</a></li>
        <li><a href="/api">API documentation</a></li>
      </ul>

    </div>
  </div>

  <div class="container main-body">
    {{{ body }}}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../assets/js/form.js"></script>
	<script src="../assets/js/authForm.js"></script>
</body>

</html>