<div class = "container">
<h1>Admin Page</h1>

<div class = "row">
  <h2>Create a new user</h2>
  <form id="userForm" action="/admin/create/user" method="POST">
    <input type="text" name="username" placeholder="username"></input>
  <br><br>
    <input type="email" name="email" placeholder="email"></input>
  <br><br>
    <input type="password" name="password_hash" placeholder="password"></input>
  <br><br>
    <input type="checkbox" name="isAdmin" value="true" placeholder="admin"></input>
  <br><br>
    <input type="url" name="img_url" placeholder="img url"></input>
  <br><br>
    <input type="date" name="dob" placeholder="date of birth"></input>
  <br><br>
    <input type="submit"></input>
  </form>
  <br><br>
  <a class="btn btn-default" href="/admin/users">View Users</a>
  <br><br>
  <div class="row">
  <form id="user-search">
    <input id="userToSearch" placeholder="Which User?" type="text" />
    <button type="submit" class="btn btn-default" id="user-search-button">Search a User</button>
  </form>
  <br>
  <span id="user-search-result"></span>
  <br>
  <h2>Modify A User </h2>
  <form id ="#modifyUserForm">
    <input type='text' name='modusername' placeholder='username' id ='userToModify'></input><br><br>
    <input type='password' name='modpassword_hash' placeholder='password' id="modpassword_hash"></input><br><br>
    <input type='url' name='modimg_url' placeholder='img url' id ="modimg_url"></input><br><br>
    <input id = 'modify-user-submit' type='submit'></input>
  </form>
</div>
<div class = "row">
  <h2>Create a new category</h2>

  <form id ="categoryForm" action="/admin/create/category" method="POST">
    <input type="text" name="name" placeholder="category"></input>
  <br><br>
    <textarea name="description" placeholder="description"></textarea>
  <br><br>
    <input type="url" name="image" placeholder="img url"></input>
  <br><br>
    <input type="submit"></input>
  </form>
  <br><br>
  <a class="btn btn-default" href="/admin/categories">View Categories</a>
  <br><br>
  <form id="category-search">
    <input id="categoryToSearch" placeholder="Which Category?" type="text" />
    <button type="submit" class="btn btn-default" id="category-serach-button">Search a Category</button>
  </form>
  <br><br>
  <span id="category-search-result"></span>
  <h2>Modify a Category</h2>
  <form id ="#modifyCategoryForm">
    <input type='text' name='modcat' placeholder='username' id ='catToModify'></input><br><br>
    <textarea name="moddescription" placeholder="description" id ="moddescription"></textarea>
    <input type='url' name='modimg_url' placeholder='img url' id ="modimg_urlcat"></input><br><br>
    <input id = 'modify-category-submit' type='submit'></input>
</form>  
</div>
</div>
    