<div class="list-group">
  <div class="row">
  {{#each quizzes}}
  <div class="col-xs-12 col-sm-6 col-md-6 quiz-background">
    <a class="list-group-item quiz-info" href="/quizzes/{{id}}">
      <h4 class="list-group-item-heading">{{name}}</h4>
      <p class="list-group-item-text">{{description}}</p>
      <small>Made By: {{Users.0.username}}</small>
    </a>
  </div>
  {{/each}}
  </div>
</div>