
<div class="page-header">
  <h1>Add a new quiz.</h1>
  <h4>Make sure to put a name and at least two choices for each question!</h4>
</div>
<div class="col-sm-12 col-md-8">
  {{#if user}}
  <form class="new-quiz">
  {{!----}}
    <div class="form-group ">
      <label class="question-label" for="name">Quiz Name:</label>
      <input class="form-control quiz-name" type="text" name="name" placeholder="Quiz Name"/>
    </div>
  {{!----}}
    <div class="form-group ">
      <label class="question-label" for="category">Category:</label>
      <p class="help-block">Hold the <kbd><kbd>command/crtl</kbd> + <kbd>click</kbd></kbd> to select multiple categories.</p>
      <select multiple class="form-control quiz-categories"></select>
    </div>
  {{!----}}
    <div class="form-group section-break">
      <label class="question-label" for="description">Description:</label>
      <textarea class="form-control quiz-description" name="description" placeholder="Describe the quiz."></textarea>
    </div>
  {{!----}}
    <div class="form-group q1 question section-break">
      <label class="question-label" for="question">What is your question?</label>
      <textarea class="form-control" name="question" placeholder="What's your question?"></textarea>
      <label class="question-label" for="answer">What is the answer?</label>
      <input class="form-control answer" type="text" name="answer" placeholder="What's your answer?"/>

      <label class="question-label" for="explanation">Explain the answer.</label>
      <textarea class="form-control explanation" name="explanation" placeholder="Why is this the right answer?"></textarea>

      <div class="form-group answers">
        <label for="choices">What are the possible answers?</label>
      <div class="row">
        <div class="choice-container col-sm-12 col-md-8">
          <div class="row">
            <div class="col-sm-9">
          <input class="form-control" type="text" name="1" placeholder="Choice" />
            </div>
          </div>
          <div class="row copy-choice">
            <div class="col-sm-9">
          <input class="form-control" type="text" name="2" placeholder="Choice" />
            </div>
          </div>
        </div>
      </div>

        <a class="btn btn-default add-choice">Add Choice</a>
      </div>
    </div>


  {{!----}}
  <div class="additional-questions">

  </div>
  {{!----}}
  <button class="btn btn-default add-question">Add Another Question</button>
  <button type="submit" class="btn btn-primary submit-quiz">Submit New Quiz</button>

  {{!----}}
  </form>

  {{else}}
  <p>You can't make a quiz unless you're a registered user!</p>
  <p><a class="btn btn-primary" href="/auth/login" role="button">Sign In</a> <a class="btn btn-primary" href="/auth/signup" role="button">Sign Up</a></p>
  {{/if}}
</div>