<!--quiz results go here-->
<h2 class="quiz-title"></h2>
<span class="categories"></span>
<p class="quiz-description"></p>

<div results-id="{{quiz.id}}" class="row quiz-results">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  
    
  {{!--<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>--}}
</div>


</div>
  <h3>Comments</h3>
<div class="posts-container">
  {{!--{{#each posts}}--}}
  <div class="comment-div">
    {{!--<p>{{comment}}</p>--}}
  </div>
  {{!--{{/each}}--}}

</div>

<!-----------------New comment form------------------------>
<h3> Add a New Comment </h3>
<!--sends inputs to router.post("/comment") in quizController-->
<form action="/quizzes/comment" method="POST">
  <div class="form-group">
    <label for="comment">Comment:</label>
    <br>
    <textarea placeholder="type text here" class="form-control" rows="10" name="comment"></textarea>
    <br>
    <button type="submit" class="btn btn-success submit">Submit</button>
  </div>
</form>
