@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Ubuntu:400,700');
body {
  font-family: 'Open Sans', sans-serif;
  background: rgba(8, 16, 102, 1);
  background: -moz-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 16, 102, 1)), color-stop(100%, rgba(48, 208, 208, 1)));
  background: -webkit-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -o-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -ms-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: linear-gradient(to bottom, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#081066', endColorstr='#30d0d0', GradientType=0);
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

a:focus,
a:hover {
  color: #fff;
}

a,
button {
  transition: all ease-in-out;
  transition-duration: .25s;
}

.btn-primary,
.btn-info {
  background: rgba(8, 16, 102, 1);
  background: -moz-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 16, 102, 1)), color-stop(100%, rgba(48, 208, 208, 1)));
  background: -webkit-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -o-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -ms-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: linear-gradient(to bottom, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#081066', endColorstr='#30d0d0', GradientType=0);
  background-attachment: fixed;
  border: none;
}

.jumbotron {
  background: none;
}

.main-body {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  margin-bottom: 75px;
  padding: 20px 30px 30px 30px;
}

.logo-title {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 5rem;
  font-family: 'Ubuntu', sans-serif;
}

.logo-title:hover {
  color: #fff;
}

.navbar-right>li>a {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 60px;
  transition: all ease-in-out;
  transition-duration: .25s;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 3px;
}

.navbar-right>li>a:hover {
  color: #3b3b3b;
  background-color: rgba(255, 255, 255, 0.9);
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-right .dropdown-menu {
  right: 3px
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px 15px 0 0;
  border: none;
  color: #3b3b3b
}

.navbar-nav>li>.dropdown-menu {
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background: none;
  transition: all ease-in-out;
  transition-duration: .25s;
}

.category-image {
  max-width: 100%;
}

.list-group-item {
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, .7);
  background: none;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 10px;
}

a.list-group-item,
button.list-group-item {
  color: #3b3b3b;
  transition: all ease-in-out;
  transition-duration: .25s;
}

.list-group-item:last-child,
.list-group-item:last-child {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 10px;
}

a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  color: #fff;
  background: rgba(8, 16, 102, 1);
  background: -moz-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 16, 102, 1)), color-stop(100%, rgba(48, 208, 208, 1)));
  background: -webkit-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -o-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -ms-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: linear-gradient(to bottom, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#081066', endColorstr='#30d0d0', GradientType=0);
  background-attachment: fixed;
  transition: all ease-in-out;
  transition-duration: .25s;
}

a.list-group-item:focus .list-group-item-heading,
a.list-group-item:hover .list-group-item-heading,
button.list-group-item:focus .list-group-item-heading,
button.list-group-item:hover .list-group-item-heading {
  color: #fff;
}

.page-header {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.7);
}

.form-control {
  margin-bottom: 10px
}

.footer {
  font-size: 15px;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer a i {
  font-size: 65px;
}

.thumbnail {
  background: rgba(8, 16, 102, 1);
  background: -moz-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 16, 102, 1)), color-stop(100%, rgba(48, 208, 208, 1)));
  background: -webkit-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -o-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -ms-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: linear-gradient(to bottom, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#081066', endColorstr='#30d0d0', GradientType=0);
  background-attachment: fixed;
}

.thumbnail img {
  opacity: 0.85;
}

.sign-in-copy {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.6;
}


/*RESULTS AREA*/

.results-header,
.comment-header {
  background: rgba(8, 16, 102, 1);
  background: -moz-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 16, 102, 1)), color-stop(100%, rgba(48, 208, 208, 1)));
  background: -webkit-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -o-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -ms-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: linear-gradient(to bottom, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#081066', endColorstr='#30d0d0', GradientType=0);
  background-attachment: fixed;
  color: #ffffff;
  padding: 7px 10px 7px 10px;
  margin-bottom: 0px;
  border-radius: 12px;
}

.score {
  font-size: 100%;
  background: rgba(8, 16, 102, 1);
  background: -moz-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 16, 102, 1)), color-stop(100%, rgba(48, 208, 208, 1)));
  background: -webkit-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -o-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -ms-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: linear-gradient(to bottom, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#081066', endColorstr='#30d0d0', GradientType=0);
  background-attachment: fixed;
}

.quiz-results {
  padding: 10px;
  margin: 10px;
}

.category-links {
  color: #adc2eb;
}

.username-div {
  font-weight: bold;
  color: #2e5cb8;
}

.comment-div {
  padding: 10px 15px;
  margin: 10px 15px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

.comment-div p {
  padding: 5px;
}

.comment-body {
  background-color: #ebf0fa;
}

.panel-default {
  border: none;
  background: rgba(8, 16, 102, 1);
  background: -moz-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 16, 102, 1)), color-stop(100%, rgba(48, 208, 208, 1)));
  background: -webkit-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -o-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -ms-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: linear-gradient(to bottom, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#081066', endColorstr='#30d0d0', GradientType=0);
  background-attachment: fixed;
}

.panel-default>.panel-heading {
  color: #fff;
  /* background-color: #f5f5f5; */
  border: none;
  background: rgba(8, 16, 102, 1);
  background: -moz-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8, 16, 102, 1)), color-stop(100%, rgba(48, 208, 208, 1)));
  background: -webkit-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -o-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: -ms-linear-gradient(top, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  background: linear-gradient(to bottom, rgba(8, 16, 102, 1) 0%, rgba(48, 208, 208, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#081066', endColorstr='#30d0d0', GradientType=0);
  background-attachment: fixed;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border: none;
}

.panel-body {
  background: none;
  color: #fff;
}

.well {
  border: none;
}

.well h5 {
  font-size: 22px;
}

.error-text {
  color: red;
  font-size: 18px;
}

.quiz-background {
  background-size: cover;
  background-position: center center;
}

.correct-bg {
  background: rgba(39, 124, 98, 1);
}

.wrong-bg {
  background: rgba(175, 56, 68, 1);
}

.comment-form textarea {
  margin-top: 10px;
  border-radius: 12px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.7);
}


/*FLEXBOX STYLING FOR ROWS*/

.flexy {
  display: flex;
  flex-wrap: wrap;
}

.flexy>[class*='col-'] {
  display: flex;
  flex-direction: column;
}


/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/

.flexy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexy>[class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}