@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Permanent+Marker');
body {
  font-family: 'Open Sans', sans-serif;
}

.logo-title {
  font-size: 5rem;
  font-family: 'Permanent Marker', cursive;
}

ul.navbar-right a {
  font-weight: 700
}