{{!--{{#if logged_in }}--}}
<h1>Add a new category.</h1>
<form method="POST" action="/categories/create" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">Category Name:</label>
    <input class="form-control" type="text" name="name" placeholder="Category Name" />
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" name="description" placeholder="Describe the category (optional)."></textarea>
  </div>

  <div class="form-group">
    <label for="image">File input</label>
    <input class="form-control" type="file" name="image" id="image">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <button type="submit" class="btn btn-primary">Submit New Category</button>
</form>
{{!--{{ else }}--}}
{{!--<h2>You need to be an administrator!</h2>
{{/if}}--}}